header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  height: 80px;
  width: 100%;
  position: fixed;
  z-index:1;
  border-bottom: 1px solid black;

}
nav {
  display: flex;
}

/* nav span {
  display: inline-block;
} */

.logo {
  color: MediumAquamarine;
  display: flex;
}
